:root {
  //COLORS
  --color-white: #fff;
  --color-black: #222;

  //BORDERS
  --border-round: 0.5rem;
  --border-circle: 1600rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

//IMPORTS
// COMPONENTS A-Z
