:root {
  //COLORS
  --color-white: #fff;
  --color-black: #222;
  --color-gray: #b6b6b6;

  //BORDERS
  --border-round: 0.5rem;
  --border-circle: 1600rem;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

//IMPORTS
// COMPONENTS A-Z
