:root {
  //COLORS
  --color-white: #fff;
  --color-black: #222;
  --color-gray: #b6b6b6;

  --color-UI1: #253c59;
  --color-UI2: #58788c;
  --color-UI3: #99b4bf;
  --color-UI4: #d9b70d;
  --color-UI5: #bf8d30;

  //BORDERS
  --border-round: 0.5rem;
  --border-circle: 1600rem;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-UI2);
  color: var(--color-white);
}

//IMPORTS
// COMPONENTS A-Z
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/navbar.scss";
